body{
    background-image: url("bride1_files/makeupwall.jpg");
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 2%;

}                       
.menu{
    list-style-type: none;
    margin: 0px;
    background-color:transparent;
    display: flex;
    align-items: center;
    border-radius: 100px;
}
.menu li{
    list-style: none;
    color: #1f1547;
    margin: 30px;
    padding: 15px;
    font-weight: 30px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: larger;
    font-weight:bolder;
    position: initial; 
    overflow: hidden; 
    transition: all 1s ease;
}
.menu li:hover{
    transform: scale(1,1); ;
}
.logo{
    width: 350px;
    height: 100px;
   
}
a{
    text-decoration: none;
    color: rgba(241, 236, 236, 0.783)!important ;

}
/* Dropdown Button */
.dropbtn {
    background-color:transparent;
    color:rgb(250, 246, 246);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Playfair Display", serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #da2360;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
 
   
 
.heading{
    display: flex;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: white;
    font-size: xx-large;
}
.heading h1{
    margin-left: 427px;
    margin-top: 83px;
    overflow: hidden; /* Ensures the text is hidden when it overflows the container */
            border-right: .1oem wheat; /* Creates a cursor effect */
            white-space: nowrap; /* Prevents the text from wrapping */
            letter-spacing: .10em; /* Adds some spacing between the letters */
            animation: typing 8.5s steps(40, end), blink-caret .75s step-end infinite;
            
   
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
.heading img{
    width: 300px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 15px;
}
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-top: 80px;
}

.container img {
    transition: all 1s ease;
}

.container img:hover {
    transform: scale(1.1);
}

.card {
    position: relative;
    width: 290px;
    height: 354px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .headin {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  