body{
    background-image: url("bride1_files/makeupwall.jpg");
     /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 2%;

}                       
.menu{
    list-style-type: none;
    margin: 0px;
    background-color:transparent;
    display: flex;
    align-items: center;
    border-radius: 100px;
}
.menu li{
    list-style: none;
    color: #1f1547;
    margin: 30px;
    padding: 15px;
    font-weight: 30px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: larger;
    font-weight:bolder;
    position: initial; 
    overflow: hidden; 
    transition: all 1s ease;
}
.menu li:hover{
    transform: scale(1,1); ;
}
.logo{
    width: 350px;
    height: 100px;
   
}
a{
    text-decoration: none;
    color: rgba(241, 236, 236, 0.783)!important ;

}
/* Dropdown Button */
.dropbtn {
    background-color:transparent;
    color:rgb(250, 246, 246);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Playfair Display", serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #da2360;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 500px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(148, 10, 10, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(183, 5, 121);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(11, 11, 11) 88%,
       rgb(255, 211, 195) 40%, rgba(150, 8, 89, 0.603) 48%);
    color: rgb(255, 80, 176);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(174, 92, 219) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }
  .ss{
    width: 80%;
    height: 20%;
    margin-left: 130px;
    margin-top: 80px;
    border-radius: 12%;
    box-shadow: 0 8px 32px 0 rgba(204, 13, 191, 0.37);
  }